*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole generali */

a{
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
}

/* Regole header */

.bottoni{
    display: flex;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.full-screen{
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    
}

.sp-view{
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
}

.testata{
    background-color: black;
    width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 100;
}

/* Regole main */

.utente{

    display: flex;
    position:relative;
    padding-right: 10px;
    margin-left: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.etichetta{
    color: #fff;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    font-size: 10px;
    bottom: 0px;
    left: 0;
    padding: 5px;
}

.zoom-call{
    padding: 120px 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* Regole footer */



.command-bar{
    display: flex;
    color: #fff;
    background-color: #222222;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
}

/* Regole bottoni sinistra */

.left-bttn{
    position: relative;
    width: 15%;
    display: flex;
}

.micro-bttn{
    position: relative;
    width: 50%;
    text-align: center;
    margin-right: 8px;
}

.video-bttn{
    position: relative;
    width: 50%;
    text-align: center;
}

.icon{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.icon-txt{
    color: #fff;
    font-size: 12px;
}

.expand-bttn{
    position:absolute;
    right: 0;
    top: 40%;
    margin-left: 100px;
}

/* Regole bottoni centro */

.middle-bttn{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.screenshare-bttn{
    position: relative;
}

/* Regole bottoni destra */

.right-bttn{

    width: 15%;
    height: 80px;
    color: red;
    background-color: #4a4a4a;
    text-align: center;
}

